App_online/Node_Red/flows.json
[{"id":"535afa12.da9a64","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1d39167a.8d007a","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_2/dht/temperature","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":250,"y":560,"wires":[["fe0906ef.fde1e8"]]},{"id":"fe0906ef.fde1e8","type":"ui_gauge","z":"535afa12.da9a64","name":"","group":"4e77432e.fb6d2c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#f7df09","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"f1bce425.274d38","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_2/dht/humidity","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":240,"y":640,"wires":[["6206c2dc.04491c"]]},{"id":"6206c2dc.04491c","type":"ui_gauge","z":"535afa12.da9a64","name":"","group":"4e77432e.fb6d2c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":"30","max":"100","colors":["#53a4e6","#1d78a9","#4e38c9"],"seg1":"","seg2":"","x":600,"y":640,"wires":[]},{"id":"c72cf405.299bb8","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_1/dht/temp_hum","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":250,"y":120,"wires":[["6e8714bc.627edc"]]},{"id":"6e8714bc.627edc","type":"function","z":"535afa12.da9a64","name":"","func":"var str = msg.topic;\nvar res = str.split(\"/\");\n\nquery = \"INSERT INTO series (timestamp, temp, hum, device_id) VALUES (\" + Date.now() + \",\" + msg.payload + \",\\'\" + res[0] + \"\\')\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["1481d1b5.b90d3e"]]},{"id":"1481d1b5.b90d3e","type":"sqlite","z":"535afa12.da9a64","mydb":"3bc70709.e098b8","sqlquery":"msg.topic","sql":"","name":"Save to sqlite","x":740,"y":120,"wires":[[]]},{"id":"48649caf.4b0774","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_2/dht/temp_hum","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":250,"y":480,"wires":[["bfdce83d.f07738"]]},{"id":"bfdce83d.f07738","type":"function","z":"535afa12.da9a64","name":"","func":"var str = msg.topic;\nvar res = str.split(\"/\");\n\nquery = \"INSERT INTO series (timestamp, temp, hum, device_id) VALUES (\" + Date.now() + \",\" + msg.payload + \",\\'\" + res[0] + \"\\')\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["3bfebab5.259456"]]},{"id":"3bfebab5.259456","type":"sqlite","z":"535afa12.da9a64","mydb":"3bc70709.e098b8","sqlquery":"msg.topic","sql":"","name":"Save to sqlite","x":740,"y":480,"wires":[[]]},{"id":"81627ac3.3b3f78","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_1/dht/temperature","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":250,"y":200,"wires":[["7557a660.78cae8"]]},{"id":"7557a660.78cae8","type":"ui_gauge","z":"535afa12.da9a64","name":"","group":"b521bb70.88b328","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#f7df09","#ca3838"],"seg1":"","seg2":"","x":530,"y":200,"wires":[]},{"id":"5f913557.e9965c","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_1/dht/humidity","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":240,"y":280,"wires":[["8056bd55.a01f9"]]},{"id":"8056bd55.a01f9","type":"ui_gauge","z":"535afa12.da9a64","name":"","group":"b521bb70.88b328","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":"30","max":"100","colors":["#53a4e6","#1d78a9","#4e38c9"],"seg1":"","seg2":"","x":520,"y":280,"wires":[]},{"id":"e7b804e8.5de238","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_2/status/led","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":230,"y":720,"wires":[["8b15be10.1444c"]]},{"id":"6b6251d7.878db","type":"ui_led","z":"535afa12.da9a64","group":"4e77432e.fb6d2c","order":2,"width":0,"height":0,"label":"Led","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":610,"y":720,"wires":[]},{"id":"8b15be10.1444c","type":"function","z":"535afa12.da9a64","name":"","func":"if (msg.payload == 1) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":720,"wires":[["6b6251d7.878db"]]},{"id":"a19158c3.6a7ce8","type":"mqtt in","z":"535afa12.da9a64","name":"","topic":"ESP32_1/status/led","qos":"1","datatype":"auto","broker":"41c7647c.e94f8c","x":230,"y":360,"wires":[["54b54d52.b9ae24"]]},{"id":"5c235ae7.d4ab24","type":"ui_led","z":"535afa12.da9a64","group":"b521bb70.88b328","order":3,"width":0,"height":0,"label":"Led","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":610,"y":360,"wires":[]},{"id":"54b54d52.b9ae24","type":"function","z":"535afa12.da9a64","name":"","func":"if (msg.payload == 1) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["5c235ae7.d4ab24"]]},{"id":"41c7647c.e94f8c","type":"mqtt-broker","z":"","name":"Mqtt_Broker_rpi","broker":"192.168.0.65","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e77432e.fb6d2c","type":"ui_group","z":"","name":"DHT 2","tab":"94cda114.610fa","order":2,"disp":true,"width":"6","collapse":false},{"id":"3bc70709.e098b8","type":"sqlitedb","z":"","db":"/home/pi/Prueba_Laravel_Vue/App_web/laravel.db","mode":"RWC"},{"id":"b521bb70.88b328","type":"ui_group","z":"","name":"DHT 1","tab":"94cda114.610fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"94cda114.610fa","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]